.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: var(--space-4);
}

.text {
  font-size: var(--font-size-l);
  color: var(--color-text-primary);
}

.btn {
  padding: 10px var(--space-6);
  background: var(--color-accent);
  color: var(--color-text-on-accent);
  border: none;
  border-radius: var(--radii);
  font-size: var(--font-size-s);
  cursor: pointer;

  &:hover {
    opacity: 0.87;
  }
}
