.page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
  width: 100%;
}


/* ── Адаптивная вёрстка ──────────────────────────────────────────────────── */
@media (max-width: 720px) {
  .page {
    height: auto;
    min-height: calc(100vh - var(--navbar-height));
    overflow: visible;
  }
}
