// ============================================================================
// Border radii
// ============================================================================

:root {
  --radii-xs:    4px;
  --radii-s:     6px;
  --radii:       8px;   // default
  --radii-l:    12px;
  --radii-xl:   16px;
  --radii-full: 9999px; // pills
}
